.flex {
    display: flex;
}

.flex-justify-space-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-direction-col {
    flex-direction: column;
}
