{% extends 'base.html.twig' %}

{% block title %}Denied{% endblock %}

{% block error %}
    <div class="error-container">
        <div class="text-center">
            <i class="bi bi-ban"></i>
            <h1>Access Denied</h1>
            <p>You do not have permission to access this page.</p>
        </div>
    </div>
{% endblock %}
